.all-products-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.page-title {
  font-size: 38px;
  font-weight: 800;
  color: #1b263b;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  color: #526488;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 30px;
}

/* Card Styling */
.card {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(14px);
  border-radius: 20px;
  padding: 30px 25px;
  text-decoration: none;
  color: #1b1b1b;

  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.35);

  transition: all 0.35s ease;
  position: relative;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.14);
  background: rgba(255, 255, 255, 0.92);
}

/* Icon */
.card-icon {
     width: 285px;
    height: 108px;
    object-fit: contain;
}

/* Title */
.card-title {
  font-size: 24px;
  font-weight: 700;
  color: #0d1b2a;
  margin-bottom: 12px;
}

/* Description */
.card-description {
  font-size: 15px;
  color: #526488;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Footer Stats */
.card-footer {
  margin-top: auto;
  text-align: center;
}

.count {
  font-size: 26px;
  font-weight: 700;
  color: #f8991d;
}

.label {
  margin-top: 5px;
  font-size: 14px;
  color: #7a8aa0;
}
