

.logo {
  text-align: center;
  color: #f7941d;
  background-color: #fff;
  padding: 20px;
}

.logo h1 {
 
  font-size: 80px;
  margin: 0;
  letter-spacing: -2px;
}

.logo .superscript {
  font-size: 20px;
  vertical-align: super;
}

.logo p {

  font-size: 20px;
  letter-spacing: 5px;
  margin: 0;
}
