 @tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide horizontal scrollbar but keep scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
